##  Difference entre ROW_number, RANK, DENSE_RANK

### Exemple pratique : Une requète qui classe les produits au sein de chaque catégorie basé sur leurs prix de détail

In [1]:
# Importation des packages

import pandas as pd
import numpy as np
import duckdb as db

In [4]:
# Importation du jeu de données à utiliser
# j'ai choisi une toute petite base de données, juste pour mettre l'accent sur l'explication

products = pd.read_csv("C:/Users/Moi/sql_challenge/database/products_for_exemple.csv")

products.head(2)

   id category          name   brand  retail_price
0   1   Shirts  Casual Shirt  BrandA          30.0
1   2   Shirts  Formal Shirt  BrandB          30.0

In [6]:
# Une requète qui classe les produits au sein de chaque catégorie basé sur leurs prix de détail 

query = """  
SELECT *,
    ROW_NUMBER() OVER (PARTITION BY category ORDER BY retail_price DESC) AS row_num,
    RANK() OVER (PARTITION BY category ORDER BY retail_price DESC) AS rank,
    DENSE_RANK() OVER (PARTITION BY category ORDER BY retail_price DESC) AS dense_rank
FROM
    products;
"""

db.sql(query)

┌───────┬──────────┬───────────────┬─────────┬──────────────┬─────────┬───────┬────────────┐
│  id   │ category │     name      │  brand  │ retail_price │ row_num │ rank  │ dense_rank │
│ int64 │ varchar  │    varchar    │ varchar │    double    │  int64  │ int64 │   int64    │
├───────┼──────────┼───────────────┼─────────┼──────────────┼─────────┼───────┼────────────┤
│     1 │ Shirts   │ Casual Shirt  │ BrandA  │         30.0 │       1 │     1 │          1 │
│     2 │ Shirts   │ Formal Shirt  │ BrandB  │         30.0 │       2 │     1 │          1 │
│     3 │ Shirts   │ T-Shirt       │ BrandC  │         20.0 │       3 │     3 │          2 │
│     7 │ Shoes    │ Running Shoes │ BrandA  │         80.0 │       1 │     1 │          1 │
│     8 │ Shoes    │ Formal Shoes  │ BrandB  │         80.0 │       2 │     1 │          1 │
│     9 │ Shoes    │ Sneakers      │ BrandC  │         60.0 │       3 │     3 │          2 │
│     4 │ Pants    │ Jeans         │ BrandA  │         50.0 │       1 │     1 │          1 │
│     5 │ Pants    │ Chinos        │ BrandB  │         50.0 │       2 │     1 │          1 │
│     6 │ Pants    │ Shorts        │ BrandC  │         40.0 │       3 │     3 │          2 │
└───────┴──────────┴───────────────┴─────────┴──────────────┴─────────┴───────┴────────────┘