In [1]:
# importer les packages
import numpy as np
import matplotlib 
import pandas as pd
import duckdb as db

In [18]:
# importer les bases de données

orders = pd.read_csv("C:/Users/Moi/sql_challenge/database/orders.csv")

order_items = pd.read_csv("C:/Users/Moi/sql_challenge/database/order_items.csv")

products = pd.read_csv("C:/Users/Moi/sql_challenge/database/products.csv")

orders.head(3)

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item
0,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3
1,60,44,Cancelled,F,2023-01-20 02:12:00+00:00,NaN,NaN,NaN,1
2,64,46,Cancelled,F,2021-12-06 09:11:00+00:00,NaN,NaN,NaN,1

In [20]:
products.head(3)

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,13842,2.51875,Accessories,Low Profile Dyed Cotton Twill Cap - Navy W39S55D,MG,6.25,Women,EBD58B8A3F1D72F4206201DA62FB1204,1
1,13928,2.33835,Accessories,Low Profile Dyed Cotton Twill Cap - Putty W39S55D,MG,5.95,Women,2EAC42424D12436BDD6A5B8A88480CC3,1
2,14115,4.87956,Accessories,Enzyme Regular Solid Army Caps-Black W35S45D,MG,10.99,Women,EE364229B2791D1EF9355708EFF0BA34,1

In [6]:
order_items.head(3)

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,0.02
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,0.02

In [12]:
# Une requête qui attribue un numéro de rang à chaque élément de commande en fonction 
# du prix de vente décroissant et les ordonne par prix de vente décroissant.

query = """ 
SELECT
   *,
    ROW_NUMBER() OVER (ORDER BY sale_price DESC) AS price_rank
FROM
    order_items
ORDER BY
    sale_price DESC;


"""
db.sql(query)

┌────────┬──────────┬─────────┬────────────┬───┬──────────────────────┬────────────────────┬────────────┐
│   id   │ order_id │ user_id │ product_id │ … │     returned_at      │     sale_price     │ price_rank │
│ int64  │  int64   │  int64  │   int64    │   │       varchar        │       double       │   int64    │
├────────┼──────────┼─────────┼────────────┼───┼──────────────────────┼────────────────────┼────────────┤
│ 114349 │    78780 │   62841 │      23546 │ … │ NULL                 │              999.0 │          1 │
│ 149459 │   102920 │   82176 │      23546 │ … │ NULL                 │              999.0 │          2 │
│  37188 │    25610 │   20434 │      24447 │ … │ NULL                 │              999.0 │          3 │
│  39329 │    27087 │   21671 │      24447 │ … │ NULL                 │              999.0 │          4 │
│  41201 │    28344 │   22656 │      23546 │ … │ NULL                 │              999.0 │          5 │
│  35807 │    24643 │   19650 │      24447 │ … │ NULL                 │              999.0 │          6 │
│  51581 │    35450 │   28392 │      23546 │ … │ NULL                 │              999.0 │          7 │
│   9674 │     6679 │    5325 │      24447 │ … │ 2020-12-30 22:43:0…  │              999.0 │          8 │
│   7801 │     5416 │    4283 │      24447 │ … │ NULL                 │              999.0 │          9 │
│  62986 │    43364 │   34691 │      23546 │ … │ NULL                 │              999.0 │         10 │
│    ·   │      ·   │     ·   │         ·  │ · │  ·                   │                ·   │          · │
│    ·   │      ·   │     ·   │         ·  │ · │  ·                   │                ·   │          · │
│    ·   │      ·   │     ·   │         ·  │ · │  ·                   │                ·   │          · │
│ 164134 │   113056 │   90299 │       4504 │ … │ NULL                 │              169.0 │       9991 │
│ 167978 │   115696 │   92408 │       4934 │ … │ NULL                 │              169.0 │       9992 │
│ 168465 │   116029 │   92677 │      21307 │ … │ NULL                 │              169.0 │       9993 │
│ 169745 │   116913 │   93388 │      21124 │ … │ NULL                 │              169.0 │       9994 │
│ 170123 │   117165 │   93601 │      20982 │ … │ NULL                 │              169.0 │       9995 │
│ 172412 │   118704 │   94817 │       5010 │ … │ NULL                 │              169.0 │       9996 │
│ 174908 │   120449 │   96136 │       8039 │ … │ NULL                 │              169.0 │       9997 │
│ 178055 │   122642 │   97894 │       6857 │ … │ NULL                 │              169.0 │       9998 │
│ 181128 │   124782 │   99642 │       3182 │ … │ NULL                 │              169.0 │       9999 │
│  16163 │    11180 │    8948 │      14810 │ … │ NULL                 │ 168.97999572753906 │      10000 │
├────────┴──────────┴─────────┴────────────┴───┴──────────────────────┴────────────────────┴────────────┤
│ ? rows (>9999 rows, 20 shown)                                                    12 columns (7 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [36]:
# Une requête qui compte le nombre de commandes par utilisateur, attribue un numéro de rang aux utilisateurs en fonction 
# du nombre de commandes décroissant
query = """ 
SELECT
    user_id,
    COUNT(order_id) AS num_orders,
    ROW_NUMBER() OVER (ORDER BY COUNT(order_id) DESC) AS user_order_rank
FROM
    order_items
GROUP BY
    user_id




"""
db.sql(query)

┌─────────┬────────────┬─────────────────┐
│ user_id │ num_orders │ user_order_rank │
│  int64  │   int64    │      int64      │
├─────────┼────────────┼─────────────────┤
│   32996 │         14 │               1 │
│   80546 │         13 │               2 │
│   80952 │         13 │               3 │
│   52039 │         12 │               4 │
│   34249 │         12 │               5 │
│   21909 │         12 │               6 │
│   40896 │         12 │               7 │
│   98947 │         12 │               8 │
│   46712 │         12 │               9 │
│   19415 │         12 │              10 │
│     ·   │          · │               · │
│     ·   │          · │               · │
│     ·   │          · │               · │
│   25920 │          4 │            9991 │
│   29074 │          4 │            9992 │
│   43632 │          4 │            9993 │
│   48287 │          4 │            9994 │
│   50623 │          4 │            9995 │
│   58591 │          4 │            9996 │
│   78834 │          4 │            9997 │
│   83754 │          4 │            9998 │
│   81505 │          4 │            9999 │
│   71368 │          4 │           10000 │
├─────────┴────────────┴─────────────────┤
│     ? rows (>9999 rows, 20 shown)      │
└────────────────────────────────────────┘

In [27]:
#Cette requête  attribue un numéro de rang à chaque produit dans chaque catégorie, en les ordonnant par prix de détail décroissant 
# dans chaque catégorie. 
query = """ 
SELECT
    id AS product_id,
    category,
    name,
    brand,
    retail_price,
    ROW_NUMBER() OVER (PARTITION BY category ORDER BY retail_price DESC) AS price_rank_per_category
FROM
    products;


"""
db.sql(query)

┌────────────┬──────────┬──────────────────────┬────────────────────────┬────────────────────┬─────────────────────────┐
│ product_id │ category │         name         │         brand          │    retail_price    │ price_rank_per_category │
│   int64    │ varchar  │       varchar        │        varchar         │       double       │          int64          │
├────────────┼──────────┼──────────────────────┼────────────────────────┼────────────────────┼─────────────────────────┤
│      15486 │ Plus     │ NIKE WOMEN'S PRO C…  │ Nike                   │              903.0 │                       1 │
│      15956 │ Plus     │ BGSD Women's New Z…  │ BGSD                   │   319.989990234375 │                       2 │
│      15354 │ Plus     │ Bali Women's One S…  │ Bali                   │  316.6000061035156 │                       3 │
│      15898 │ Plus     │ Oakley Men's Racin…  │ Oakley                 │              280.0 │                       4 │
│      15512 │ Plus     │ DOLCE & GABBANA DG…  │ Dolce & Gabbana        │              243.0 │                       5 │
│      15677 │ Plus     │ Sunglasses Gucci 4…  │ Gucci                  │ 239.94999694824216 │                       6 │
│      15333 │ Plus     │ Prada 1M0506 Saffi…  │ Prada                  │              209.0 │                       7 │
│      15566 │ Plus     │ Oakley Pit Bull Su…  │ Oakley                 │              200.0 │                       8 │
│      15699 │ Plus     │ Kate Spade New Yor…  │ Kate Spade             │              198.0 │                       9 │
│      15278 │ Plus     │ Ray-Ban RB3016 Cla…  │ Ray-Ban                │ 194.94999694824216 │                      10 │
│        ·   │  ·       │          ·           │   ·                    │          ·         │                       · │
│        ·   │  ·       │          ·           │   ·                    │          ·         │                       · │
│        ·   │  ·       │          ·           │   ·                    │          ·         │                       · │
│      27444 │ Swim     │ Speedo Men's Poly …  │ Speedo                 │  34.15999984741211 │                    1369 │
│      27926 │ Swim     │ N2N Bodywear A1 - …  │ N2N Bodywear           │               34.0 │                    1370 │
│      13482 │ Swim     │ La Palapa Chiffons…  │ La Palapa              │               34.0 │                    1371 │
│      13273 │ Swim     │ Tie Front Kimono w…  │ Blue Sky Swimwear      │               34.0 │                    1372 │
│      27462 │ Swim     │ Speedo Men's Shore…  │ Speedo                 │               34.0 │                    1373 │
│      28173 │ Swim     │ Texas Tech Red Rai…  │ Collegiate Surf and …  │               34.0 │                    1374 │
│      12739 │ Swim     │ O'Neill Women's At…  │ O'Neill                │               34.0 │                    1375 │
│      12926 │ Swim     │ Body Glove Juniors…  │ Body Glove             │               34.0 │                    1376 │
│      12973 │ Swim     │ Body Glove Juniors…  │ Body Glove             │               34.0 │                    1377 │
│      13201 │ Swim     │ Body Glove Juniors…  │ Body Glove             │               34.0 │                    1378 │
├────────────┴──────────┴──────────────────────┴────────────────────────┴────────────────────┴─────────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                              6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [35]:
# Cette requête attribue un numéro de rang à chaque produit dans chaque catégorie.
query = """ 
SELECT
    id AS product_id,
    category,
    name,
    brand,
    retail_price,
    ROW_NUMBER() OVER (PARTITION BY category) AS price_rank_per_category
FROM
    products;

"""
db.sql(query)

┌────────────┬─────────────────────┬──────────────────────┬───┬────────────────────┬──────────────────────┐
│ product_id │      category       │         name         │ … │    retail_price    │ price_rank_per_cat…  │
│   int64    │       varchar       │       varchar        │   │       double       │        int64         │
├────────────┼─────────────────────┼──────────────────────┼───┼────────────────────┼──────────────────────┤
│      15512 │ Plus                │ DOLCE & GABBANA DG…  │ … │              243.0 │                    1 │
│      15426 │ Plus                │ Gold Toe Women's F…  │ … │               15.0 │                    2 │
│      15408 │ Plus                │ Shadowline Short S…  │ … │               36.0 │                    3 │
│      15460 │ Plus                │ Shadowline Silhoue…  │ … │              104.0 │                    4 │
│      15448 │ Plus                │ ASICS Unisex Adult…  │ … │               22.0 │                    5 │
│      15273 │ Plus                │ MUNDI Big Fat Flap…  │ … │ 21.989999771118164 │                    6 │
│      15429 │ Plus                │ Mundi Big Fat Wallet │ … │ 21.989999771118164 │                    7 │
│      15797 │ Plus                │ MUNDI Big Fat Wallet │ … │ 19.989999771118164 │                    8 │
│      15811 │ Plus                │ SPANXÂ® - In-Power…  │ … │               38.0 │                    9 │
│      15577 │ Plus                │ Alki'i Braided Neo…  │ … │  9.989999771118164 │                   10 │
│        ·   │  ·                  │          ·           │ · │                 ·  │                    · │
│        ·   │  ·                  │          ·           │ · │                 ·  │                    · │
│        ·   │  ·                  │          ·           │ · │                 ·  │                    · │
│      20120 │ Suits & Sport Coats │ Hurley Men's Outer…  │ … │               99.5 │                  730 │
│      19903 │ Suits & Sport Coats │ Black Stretch Dres…  │ … │ 36.180000305175774 │                  731 │
│      20528 │ Suits & Sport Coats │ etnies Decker Jack…  │ … │  79.94999694824217 │                  732 │
│      20175 │ Suits & Sport Coats │ Tuxedo Vest - Soli…  │ … │  79.94999694824217 │                  733 │
│      20495 │ Suits & Sport Coats │ Howe Men's Persona…  │ … │              199.0 │                  734 │
│      20505 │ Suits & Sport Coats │ Classy Men's Gray …  │ … │ 19.989999771118164 │                  735 │
│      20265 │ Suits & Sport Coats │ Howe Men's Everyth…  │ … │  133.3300018310547 │                  736 │
│      20246 │ Suits & Sport Coats │ Mantoni 2 Button M…  │ … │ 209.94999694824216 │                  737 │
│      20238 │ Suits & Sport Coats │ Mantoni 2 Button M…  │ … │ 199.94999694824216 │                  738 │
│      20189 │ Suits & Sport Coats │ Purple pattern For…  │ … │ 36.950000762939446 │                  739 │
├────────────┴─────────────────────┴──────────────────────┴───┴────────────────────┴──────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                       6 columns (5 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘